header {

  padding-top: 40px;
  padding-left: 20px;
  background-color: #459EFA;
  background-image: url(../img/pattern.png);
  block-size: 30%;
}

main,
footer {
  padding: 30px;
}

header .logo {
  width: 200px;

}

#subtitle {
  color: #8D8D8D;
}

section#start .subtitle {
  color: #8D8D8D;
}

section#start .subtitle .name {
  color: #3D97B8;
}

section#start .subtitle .date {
  color: #3D97B8;
}