P,
section {
  padding-bottom: 20px;

}



header {


  padding-top: 40px;
  padding-left: 20px;
  background-color: #459EFA;
  background-image: url(../img/pattern.png);
  block-size: 30%;
}

main,
footer {
  padding: 30px;
}

header .logo {
  width: 200px;

}

#subtitle {
  color: #8D8D8D;
}

section#start .subtitle {
  color: #8D8D8D;
}

section#start .subtitle .name {
  color: #3D97B8;
}

section#start .subtitle .date {
  font-size: 80%;
  color: #3D97B8;
}

.underlined {
  background-color: yellow;
}

ul {
  margin-left: 20px;
  padding: 0%;
}

section#table table thead {
  background-color: #00A7DB;
}